*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: dodgerblue;
    transition: all 0.3s ease;
}
button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 4px dodgerblue ;
}